<!DOCTYPE html>
<html>
    <head>
        <link href = "../../public/style/index.css" rel="stylesheet" type="text/css" />
        <style>
            .paragraf {
                margin : 10vhs
            }
        </style>
    </head>
    <body class="about-page">
        <div class="wrapper">
            {{>headers}}
        </div>
        <div style="display: flex; margin-left : 50px; margin-top : 25px; font-size : 25px; height : 70vh; flex-direction : column">
            <div style="padding-left : 3vh; color: white">My name is Fabian Zhafransyah, and I have a lot of passion in learning</div>
            <div style="padding-left : 3vh; color: white">Especially in technology-related things.</div>
            <div style="padding-left : 3vh; color: white">I am an Informatics student in Bandung Institute of Technology</div>
            <div style="padding-left : 3vh; color: white">For more, please visit my <a href="https://github.com/fabianzhafran">github</a> repository</div>
        </div>
        {{>footers}}
    </body>
</html>