<!DOCTYPE html>
<html>
    <head>
        <title>OSJURASYIKJUGA</title>
    </head>
    <body>
        <h1>Registrasi Tower</h1>
        <form action="/excel/register" method="POST">
            Nama Lengkap : </p><input type="text" name="nama_lengkap" /> <br />
            Tanggal Awal Angsuran  : </p><input type="text" name="tanggal_sewa" /> <br />
            <input type="submit" value="submit" />
        </form>

    </body>
</html>