<!DOCTYPE html>
<html>
    <head>
        <link href="../../public/style/index.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="wrapper">
            {{>headers}}
        </div>
        <div style="display: flex; margin-left : 50px; margin-top : 25px; font-size : 25px; height : 70vh; flex-direction : column">
            <div style="padding-left : 3vh; color : black">To search for locations, simply type in the blank box and then hit enter.</div>
        </div>
        {{>footers}}
    </body>
</html>