<!DOCTYPE html>
<html>
    <head>
        <link href = "./style/page-not-found.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="content">
            <div>{{>pagenotfoundheader}}</div>
        </div>

        <div class="footer">
            
        </div>
    </body>
</html>