<!DOCTYPE html>
<html>
    <head>
        <title>OSJURASYIKJUGA</title>
    </head>
    <body>
        <h1>Registrasi Tower</h1>
        <form action="/tower/register" method="POST">
            Tower : </p><input type="text" name="tower" /> <br />
            Lantai : </p><input type="text" name="lantai" /> <br />
            Harga : </p><input type="text" name="harga" /> <br />
            <input type="submit" value="submit" />
        </form>

    </body>
</html>