<!DOCTYPE html>
<html>
    <head>
        <title>Registrasi</title>
    </head>
    <body>
        <form action="/users/create" method="POST">
            Nama Lengkap : </p><input type="text" name="name" /> <br />
            Nomor HP : </p><input type="text" name="nomorhp" /> <br />
            
            <input type="submit" value="submit" />
        </form>

    </body>
</html>