<!DOCTYPE html>
<html dir="ltr" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="file:///C:/Users/ASUS/Documents/HMIF/tabler-gh-pages/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="file:///C:/Users/ASUS/Documents/HMIF/tabler-gh-pages/favicon.ico">
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>HQuarters</title>
    <link rel="stylesheet" href="tabler.github.io%20-%20a%20responsive,%20flat%20and%20full%20featured%20admin%20template_files/font-awesome.css">
    <link rel="stylesheet" href="tabler.github.io%20-%20a%20responsive,%20flat%20and%20full%20featured%20admin%20template_files/css.css">
    <script src="tabler.github.io%20-%20a%20responsive,%20flat%20and%20full%20featured%20admin%20template_files/require.js"></script>
    <script>
      requirejs.config({
          baseUrl: '.'
      });<!DOCTYPE html>
<html dir="ltr" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="file:///C:/Users/ASUS/Documents/HMIF/tabler-gh-pages/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="file:///C:/Users/ASUS/Documents/HMIF/tabler-gh-pages/favicon.ico">
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>IN_DEV</title>
    <link rel="stylesheet" href="tabler.github.io%20-%20a%20responsive,%20flat%20and%20full%20featured%20admin%20template_files/font-awesome.css">
    <link rel="stylesheet" href="tabler.github.io%20-%20a%20responsive,%20flat%20and%20full%20featured%20admin%20template_files/css.css">
    <script src="tabler.github.io%20-%20a%20responsive,%20flat%20and%20full%20featured%20admin%20template_files/require.js"></script>
    <script>
      requirejs.config({
          baseUrl: '.'
      });
    </script>
    <!-- Dashboard Core -->
    <link href="/style/dashboard.css" rel="stylesheet" />
    <script src="/style/dashboard.js"></script>
    <!-- c3.js Charts Plugin -->
    <link href="/style/assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <script src="/style/assets/plugins/charts-c3/plugin.js"></script>
    <!-- Input Mask Plugin -->
    <script src="/style/assets/plugins/input-mask/plugin.js"></script>
  <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="jquery" src="tabler.github.io%20-%20a%20responsive,%20flat%20and%20full%20featured%20admin%20template_files/jquery-3.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="bootstrap" src="tabler.github.io%20-%20a%20responsive,%20flat%20and%20full%20featured%20admin%20template_files/bootstrap.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="core" src="tabler.github.io%20-%20a%20responsive,%20flat%20and%20full%20featured%20admin%20template_files/core.js"></script></head>
  <body class="">
    <div class="page">
      <div class="page-main">
        <div class="header py-4">
          <div class="container">
            <div class="d-flex">
              <a class="header-brand" href="/">
                <img src="./style/hquarters_logo.png" class="header-brand-img" alt="tabler logo">
              </a>
              <!-- <div class="d-flex order-lg-2 ml-auto">
                </div>
              <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
              </a> -->
            </div>
          </div>
        </div>
        
        <div class="my-3 my-md-5">
          <div class="container">
            <div class="page-header">
              <h1 class="page-title">
                Update Tower
              </h1>
              <div class="page-options d-flex">
              </div>
            </div>
            <div class="row row-cards">
              <div class="col-lg-4">
                <form class="card" action="/tower/update/done" method="POST">
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-label">Tower</div>
                      <input type="text" class="form-control" name="tower">
                    </div>
                    <div class="form-group">
                      <div class="form-label">Lantai</div>
                      <input type="text" class="form-control" name="lantai">
                    </div>
                    <br />
                    Ganti dengan : 
                    <br />
                    <br />
		                <div class="form-group">
                      <div class="form-label">Harga</div>
                      <input type="text" class="form-control" name="harga">
                    </div>
		                <div class="form-group">
                      <div class="form-label">Terjual</div>
                      <input type="text" class="form-control" name="terjual">
                    </div>
                    <br />
                    <br />
		                <div class="form-group">
                      <div class="form-label">Hapus lahan ? (Jawab dengan 'ya' atau selain 'ya')</div>
                      <input type="text" class="form-control" name="hapus">
                    </div>

                  </div>
                  <div class="card-footer text-right">
                    <button type="submit" class="btn btn-primary" value="submit">Update Tower</button>
                  </div>
                </form>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      

      
  
</body></html>