<div style="height: box-sizing; display: flex; justify-content : space-around; align-items : end; font-size : 60px">
    <p>404 : Page Not Found</p>
    <p>The page you are looking for is not here</p>
</div>