<div style="display: flex; margin-top : 25px; font-size : 25px; height : 70vh; flex-direction : column">
    <div style="padding-left : 3vh">{{contentfill}}</div>

    <div class="searchBar" style="padding-left : 3vh">
        <form action="">
            <br />
            <input type="text" placeholder="Location..." name="search" style="height : 40px; width : 25%; font-size : 70%">
            <button type="submit"><i class="fa fa-search" style="height : 25px; width : 70px; padding-top : 14px"></i></button>
        </form>
    </div>

    <div class="searchResult" style="display : flex; flex-direction : column; padding-left : 3vh">
        <p id = 'getForecast'></p>
        <p id = 'getLocation'></p>
        <p id = 'getAddress'></p>
    </div>
</div> 